body {
	font: normal normal 12px/18px Tahoma, sans-serif;
	background:#f2f2f2;
	margin:0;
}

div, p, tr, td, span {
	font: normal normal 12px/18px Tahoma, sans-serif;
}

td {
	font: normal normal 12px/18px Tahoma, sans-serif;
	padding:5px;
	background:#eee;
}

a {color:#000000;}

.site {
	margin:0 auto;
	width:700px;
	background:#fff;
	padding:10px;
}

.main-headline {
	font: normal normal 16px/18px Tahoma, sans-serif;
	color: #666666;
	text-transform: uppercase;
	padding:0;
	background:#fff;
}

.head-cell {
	font: normal bold 12px/18px Tahoma, sans-serif;
	background:#666;
	color:#fff;
	border-top:20px solid #fff;
}

.title-cell {
	font: normal normal 12px/18px Tahoma, sans-serif;
	color: #999;
	background:#fff;
	padding:0px 0px 0px 10px;
	border-left:1px solid #000;
}

.white-cell {
	background:#fff;
	padding:0;
}

.inputbox {
	border:1px solid #999;
	padding:2px;
	font: normal normal 12px/18px Tahoma, sans-serif;
	margin:0px 2px 0px 0px;
}

.inputbox:hover, .inputbox:focus {
	border:1px solid #666;
	background:#fafafa;
	
}

.button {
	border:1px solid #000;
	padding:2px;
	background:#666;
	color:#fff;
	font: normal normal 12px/18px Tahoma, sans-serif;
}

.button:hover {

	background:#000;
}

